* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626d3 100%);
  color: white;
  padding: 20px;
}

.header-img{
  height: 100%;
  margin-right: 6px;
}

.header-title{
  font-size: 1.25rem;
  margin-right: auto;
}

.header-project{
  font-size: 0.75rem;
  font-weight: 500;
}


.div {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form-input{
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid D5D4D8;
  text-indent: 5px;
}

.form-button{
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #A626d3 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme{
  position: relative;
  display: inline;
}

.meme-img{
  width: 100%;
  height: auto;
}

.meme-toptext, .meme-bottomtext{
  position: absolute;
  color:  white;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.meme-toptext{
  top: 10px;
}

.meme-bottomtext{
  bottom: 10px;
}